layout {
    cwd "/home/lanice/ottertune/frontend"
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab {
        pane focus=true
        pane split_direction="vertical" {
            pane {
                cwd "frontend"
                command "yarn"
                args "start"
            }
            pane {
                command "kubectl"
                args "port-forward" "deployments/django-backend" "-n" "ot-dev-service" "8000:8000"
            }
        }
    }
}
